<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>

<body class="bg3">
<!--导航-->
<div id="pjax-container">
    <nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-shadow-small">
        <div class="ui container">
            <!--        stackable小页面堆叠属性-->
            <div class="ui inverted secondary menu stackable m-padded-tb-mini">
                <h2 class="ui teal header item">JK's Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--    手机端显示菜单，jQuery获取toggle-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <!--        header-->
            <div class="ui top only-transform attached segment" style="border: 0">
                <div class="ui middle aligned column grid">
                    <div class="column center aligned">
                        <h2 class="ui black header">归档</h2>
                    </div>
                </div>
            </div>
            <!--归档列表-->
            <th:block th:each="item : ${archiveMap}">
                <h2 class="ui center aligned header" style="color:#ffecf7;" th:text="${item.key}">2021</h2>
                <div class="ui white-transform fluid vertical menu">
                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-padded-tb-small"
                       th:each="blog : ${item.value}">
            <span>
            <i class="mini blue book icon m-padded-lr-big"></i><span th:text="${blog.title}">新会小青柑</span>
                <div class="mini ui grey basic left pointing label" th:text="${#dates.format(blog.updateTime,'MM-dd')}">1月17日</div>
            </span>
                        <div class="mini basic ui red basic label m-padded-tb-littlesmall" th:text="${blog.flag}">原创</div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">你好我叫LiJingkun</a>
                    <a href="#" class="item">莫愁前路无知己</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ：727919835</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">简介</h4>
                <p class="m-text-thin m-padded-tb-mini">这是我的博客</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-padded-tb-mini m-opacity-mini m-text-spaced">Copyright@2020-2021 Designed by
            LiJingkun</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<!--利用jQuery获取到菜单-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
<script>
    $(function () {
        $(document).pjax('a[target!="_blank"]', '#pjax-container', {
            fragment: '#pjax-container',
            timeout: 8000,
            type: 'GET'
        });

        $(document).on('submit', 'form', function (event) {
            //var container = $(this).closest('[pjax-container]');
            $.pjax.submit(event, '#pjax-container', {
                fragment: '#pjax-container', timeout: 8000
            });
        });

    })
</script>
</body>
</html>